<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header") %>
<body>
    
    <h3 class="text-center mt-4">Add new schedule</h3>
        <form action="/schedules" method="POST" class="mt-4 p-4">
            <div class="form-group mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="day" class="form-label">Day</label>
                <select type="text" name="day" class="form-control form-select text-uppercase" required>
                    <option value="">Select a day</option>
                    <option value="1">mon</option>
                    <option value="2">tue</option>
                    <option value="3">wed</option>
                    <option value="4">thur</option>
                    <option value="5">fri</option>
                    <option value="6">sat</option>
                    <option value="7">sun</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="start_at" class="form-label">Start Time</label>
                <input type="time" name="start_at" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="end_at" class="form-label">End Time</label>
                <input type="time" name="end_at" class="form-control" required>
            </div>
            <input type="submit" value="Add Schedule" class="btn btn-primary">
        </form>
</body>

</html>