<!DOCTYPE html>
<html lang="en">
      <%- include("../partials/header") %>
  <body>

    <main>
      <div class="container-fluid text-center">
        <h2 class="p-3">Welcome to schedule website!</h2>
      </div>
      <div class="container-fluid p-4">
        <img src="https://web-static.wrike.com/blog/content/uploads/2020/01/Five-Features-of-a-Good-Monthly-Employee-Work-Schedule-Template-896x518.jpg?av=4e36fdf9890d9fb8b26460d2ce565b3c"
            class="img-fluid rounded mx-auto d-block" alt="image showing schedule" />
      </div>
    </main>
  </body>
</html>
